button {
    background-color: #808f96; 
    color: white; 
    border: none; 
    padding: 12px 24px;
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #808f96; 
  }
  